

/* BOX GRID -----------------
*/

* { 
    outline: 1px transparent #947676 !important; 
    } 
    
    * { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box; 
    } 





body {
    background-image: url("images/rainbow-colors-background.jpg");
    cursor: url(http://cur.cursors-4u.net/others/oth-2/oth198.cur), auto !important;

}


header {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    background: rgb(238, 236, 133);
    margin-bottom: 2%;
}

#easel {

    
    background: white;
    border: solid 1px white;
    height: 600px;
    margin: 10% 30%;
    

}


#blue {
    border: solid 1px white;
    height: 45px;
    margin: 10% 30%;
    background: blue;
    
}

#green {
    border: solid 1px white;
    height: 45px;
    margin: 10% 30%;
    background: rgb(21, 231, 21);
}

#red {
    border: solid 1px white;
    height: 45px;
    margin: 10% 30%;
    background:  rgb(231, 46, 21);
}

#pink {
    border: solid 1px white;
    height: 45px;
    margin: 10% 30%;
    background:  rgb(231, 21, 186);
}

#purple {
    border: solid 1px white;
    height: 45px;
    margin: 10% 30%;
    background:  rgb(172, 18, 233);
}

#yellow {
    border: solid 1px white;
    height: 45px;
    margin: 10% 30%;
    background: yellow;
}

#eraser {
    width: 130px;
    margin-bottom: 30px;
    

}

#myAnimation {
    text-align: center;
    width: 300px;
    height: 40px;
    padding-top: 2%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-bottom: -6%;
    margin-left: 32%;
}

#picture {
    width: 50px;letter-spacing: normal;
}

.sidebar {
    display: inline-block;
    position: absolute;
    padding: 15% 2%;;
}