
/* BOX GRID -----------------
*/

* { 
    outline: 1px transparent #947676 !important; 
    } 
    
    * { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box; 
    } 


/* WRAPPER -----------------
*/

.wrapper {
    font-family: 'Nunito', sans-serif;
    background: #ececf3;
    color: rgb(68, 148, 165);
}


/* HEADER -----------------
*/

header {
    text-align: center;
    text-transform: uppercase;
    border-bottom: solid 1px;
    margin: 10px 20px 20px 20px;
}

.h1-header {
    margin-bottom: 0;
}

.h4-header {
    margin-bottom: 10px;
}

/* COLUMNS -----------------
*/

.column,
.columns {
    width: 100%;
}

/* IMAGES -----------------------------
*/

img {
    padding: 0 20px;
}

.index-pics {
    margin-top: 10px;
}

.wireframe {
    padding: 20px;
}

/* Responsive Images */
img { outline: 0; max-width: 100%; height: auto; }

/* NAV HEADINGS ------------------------------
*/

.index {
    margin-bottom: 2%;
}

.h5-nav {
    text-transform: uppercase;
    text-align: center;
    border: solid 1px;
    margin: 10px 20px;
}

/* INDEX NAV LIST ------------------------------
*/


.index-li li {
    display: list-item;
    list-style-type: none;
    text-align: center;
    padding: 2%;
    text-transform: capitalize;
}

.a-index {
    color: rgb(68, 148, 165);
}

.a-index:hover {
    color: white !important;
    background: rgb(174, 181, 183);
    padding: 2%;
    }

.index-li {
    margin: 0;
}



/* BLOG QUESTIONS ------------------------------
*/

.h4-blog {
    text-align: center;
    border: solid 1px;
    padding: 2%;
    background:  rgb(112, 180, 196);
    color: white;
    font-weight: 100 !important;
}

.blog-question {
    text-align: center;
    margin: 2%;
}

/* If the screen size is 600px wide or more, decrease margin */
@media only screen and (min-width: 400px) {
.blog-question {
        margin: 0 15%;
    }
}

.h10-list {
    text-transform: uppercase;
    padding: 10px;
    font-size: 15px;
    border-bottom: solid 1px;
}

/* If the screen size is 600px wide or more, decrease margin */
@media only screen and (min-width: 400px) {
.h10-list {
    text-transform: uppercase;
    padding: 10px;
    font-size: 17px;
    border-bottom: solid 1px;
}
}

.blog-list {
    text-align: left !important;
    margin: 5% 20%;
    list-style-type: disc;
}

.wireframe-h6, .wireframe-h4 {
    border: solid 1px;
}

h5 {
    text-transform: capitalize;
    border: solid 1px;
}



    p {
        font-size: 15px;
    }


/* If the screen size is 600px wide or more, decrease margin */
@media only screen and (min-width: 400px) {
    p {
        font-size: 17px;
    }
}

/* TABLE  ------------------------------
*/

th {
    text-transform: uppercase;
}


tr {
    text-align: center;
}

th, td {
    padding: 15px;
}

table {
    border-spacing: 5px;
}

/* NAVIGATION  ------------------------------
*/

.blog-nav ul {
    list-style-type: none;
    display: list;
    padding: 0 20px;
}

.h6-nav {
    text-transform: uppercase;
    color: rgb(225, 225, 231);
    padding:   5px 20px;
    font-size: 18px;
    border-bottom: solid 1px;
    margin: 5px 20%;
}

.nav-border {
    border: solid 1px;
}

.blog-nav {
    text-align: center;
    background: rgb(134, 139, 138);

}

.blog-nav ul li {
    padding: 2%;
    text-transform: capitalize;
    margin: 0;
    width: 100%;
    font-size: 1.0em;
}

.a-blog {
    color: rgb(225, 225, 231);
    margin: 0;
    padding: 2%;
}

.active {
    background: rgb(74, 80, 82);
    color: white;
}

.a-blog:hover {
    color: rgb(68, 148, 165);
    background: white;
}





/*  FOOTER  ------------------------------
*/

.fa {
    padding: 20px;
    font-size: 50px;
    width: 50px;
    text-decoration: none;
    color: rgb(84, 83, 90);
}

footer {
    text-align: center;
    border-top: solid 1px;
    margin: 20px;
}

