* { 
    outline: 1px transparent #947676 !important; 
    } 
    
    * { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box; 
    }  

    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
        font-family: 'Gothic A1', sans-serif;
        
    }

    header {
        text-transform: uppercase;
        background: #ececf3
        
    }

    h1 {
        font-size: 28px;
        font-weight: 100;
        padding: 5px;
        color: rgb(68, 148, 165);
        margin-left: 10px;
    }

    ul {
        text-align: center;
    }

    ul li {
        padding: 20px 11px 0 11px;
        font-size: 15px;
        display: inline-block;
    }

    a:hover { 
        color: rgb(245, 246, 247);
        border-style: solid;
        border-width: thin;
        padding: 5px;
        background: rgb(68, 148, 165);
      
        } 

    ul li a { 
    color:rgb(68, 148, 165);
    
    } 

    .row-border {
        border-bottom: solid rgb(68, 148, 165) 1.5px; 
    }

    h3 {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 100;
        color: rgb(68, 148, 165);
        margin-top: -20px;
        padding-left: 5px;
        margin-left: 10px;
    }


    p {
        text-transform: uppercase;
        text-align: center;
    }

    img{
        padding-top: 30px;
        width: 100%;
    }

    .pic-1 {
        padding-right: 30px
    }

    .pic-2 {
        padding-right: 15px;
        padding-left: 15px;
    }

    .pic-3 {
        padding-left: 30px
    }



    .row {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        flex-wrap: nowrap;    
    }
    
    .col-1 {
        width: 8.33%;
    }
    
    .col-2 {
        width: 16.66%;
    }
    
    .col-3 {
        width: 25%;
    }
    
    .col-4 {
        width: 33.33%;
    }
    
    .col-5 {
        width: 41.66%;
    }
    
    .col-6 {
        width: 50%;
    }
    
    .col-7 {
        width: 58.33%;
    }
    
    .col-8 {
        width: 66.66%;
    }
    
    .col-9 {
        width: 75%;
    }
    
    .col-10 {
        width: 83.33%;
    }
    
    .col-11 {
        width: 91.66%;
    }

 